.feature {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }

  &-item {
    margin-bottom: 30px;
    margin-left: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &-item-pic {
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &-item-title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-item-text {
    line-height: 1.71;
  }
}
